.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8rem;
}
.headerLeft span {
  color: var(--main-color);
  font-weight: 500;
  font-size: 1.4rem;
}

.headerLeft h1 {
  margin-top: 1.5rem;
  font-size: 3.2rem;
  color: var(--color-heading-wv);
}

.btnBox {
  display: flex;
  gap: 2rem;
}
.btnBox button {
  background-color: #fff;
  border: none;
  padding: 1.2rem 2rem;
  font-size: 1.6rem;
  border-radius: 2rem;
  color: var(--color-body-white);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btnBox button:hover {
  color: #fff;
  background-color: #000;
}

.cardBox {
  display: flex;
  gap: 6rem;
  flex-wrap: wrap;
}
.card {
  width: 35rem;
  padding: 4rem;
  box-shadow: var(--shadow-white-3);
  /* background: var(--gradient-box-w); */
  background-color: #fff;
  color: var(--color-body-white);
  border-radius: 5px;
}
@media (max-width: 63em) {
  .cardBox {
    gap: 4rem;
  }
  .card {
    width: 34rem;
    padding: 3rem;
  }
}

.card span {
  color: var(--main-color);
  font-size: 1.5rem;
}
.title {
  font-size: 2rem;
  line-height: 1.5;
  margin: 1rem 0;
  text-transform: uppercase;
}
.imgbox {
  margin: 1rem 0;
  height: 25rem;
  overflow: hidden;
  border-radius: 1rem;
}
.card img {
  border: none;
  box-shadow: none;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  border-radius: 1rem;
}
.card img:hover {
  transform: scale(1.1);
}
.card button {
  border: none;
  color: #4b6cc1;
  background: #fff;
  padding: 1rem 2rem;
  border-radius: 5px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.card button:hover {
  color: var(--main-color);
}
