.hero {
  margin-bottom: 5rem;
}
.container {
  max-width: 136rem;
  margin: 0 auto;
  padding: 0 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8rem;
}

.heroSkills {
  padding: 2rem 5rem;
  box-shadow: var(--shadow-white-3);
  background: var(--gradient-box-w);
  border-radius: 5px;
}

/* Responsive design */

@media (max-width: 60em) {
  .container {
    grid-template-columns: 1fr;
  }
  .responsiveInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
