.hero {
  margin-top: 15rem;
  margin-bottom: 5rem;
}
.container {
  max-width: 136rem;
  margin: 0 auto;
  padding: 0 3rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8rem;
}

.heroSkills {
  padding: 2rem 5rem;
  box-shadow: var(--shadow-white-3);
  background: var(--gradient-box-w);
  border-radius: 5px;
}
