.container {
  max-width: 86rem;
  /* border: 2px solid black; */
  margin: 5rem auto;
  padding: 0 3rem;
}

.flex {
  display: flex;
  gap: 4rem;
}

.header-img-box {
  max-width: 12rem;
  height: 12rem;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 5px solid #fefefe;
  box-shadow: var(--shadow-white-3);
  border-radius: 50%;
}

.header-content-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 0;
}

.heading-secondary {
  color: var(--color-heading-wv);
  font-size: 3.2rem;
  font-weight: 600;
}
